<p style="color: green"><%= notice %></p>
<div id="booking_details" class="pages_index_background">
  <div class="container">
    <h1 id="editing_booking" class="display-4 text-center my-3 text-muted">Booking details</h1>
    
    <%= render @booking %>

    <div>
      <%= link_to "Edit", edit_booking_path(@booking), class: "btn btn-info" %> |
      <%= link_to "Bookings", bookings_path, class: "btn btn-secondary" %> |
      <%= link_to "Rooms", rooms_path, class: "btn btn-secondary" %>  |
    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Delete
    </button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Confirmation</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete this booking?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <%= button_to "Delete", @booking, method: :delete, style: "text-decoration: none;", class: "btn btn-danger my-3" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
