<p style="color: green"><%= notice %></p>
<div id="booking_details" class="pages_index_background">
  <div class="container">
    <h1 id="editing_booking" class="display-4 text-center my-3 text-muted">Booking details</h1>
    
    <%= render @booking %>

    <div>
      <%= link_to "Edit this booking", edit_booking_path(@booking), class: "btn btn-info" %> |
      <%= link_to "Back to bookings", bookings_path, class: "btn btn-secondary" %> |
      <%= link_to "Back to rooms", rooms_path, class: "btn btn-secondary" %>

      <%= button_to "Delete", @booking, method: :delete, class: "btn btn-danger my-3" %>
    </div>
  </div>
</div>
