<div id="<%= dom_id room %>">
  <p>
    <strong>Room Picture:</strong>
    <%= room.room_picture %>
  </p>

  <p>
    <strong>Room name:</strong>
    <%= room.room_name %>
  </p>

  <p>
    <strong>Room size:</strong>
    <%= room.room_size %>
  </p>

  <p>
    <strong>Room class:</strong>
    <%= room.room_class %>
  </p>

  <p>
    <strong>Room status:</strong>
    <%= room.room_status %>
  </p>

  <p>
    <strong>Room address:</strong>
    <%= room.room_address %>
  </p>

  <p>
    <strong>Room city:</strong>
    <%= room.room_city %>
  </p>

  <p>
    <strong>Room state:</strong>
    <%= room.room_state %>
  </p>

  <p>
    <strong>Room zip:</strong>
    <%= room.room_zip %>
  </p>

  <p>
    <strong>Room country:</strong>
    <%= room.room_country %>
  </p>

  <p>
    <strong>Room price:</strong>
    <%= room.room_price %>
  </p>

  <p>
    <strong>Room description:</strong>
    <%= room.room_description %>
  </p>

  <p>
    <strong>Room smoke:</strong>
    <%= room.room_smoke %>
  </p>

  <p>
    <strong>Number of beds:</strong>
    <%= room.number_of_beds %>
  </p>

  <p>
    <strong>Bed size:</strong>
    <%= room.bed_size %>
  </p>

  <p>
    <strong>Room phone:</strong>
    <%= room.room_phone %>
  </p>

</div>
